*{
    color: rgb(0, 104, 196);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, rgba(244, 145, 59, 1), rgba(82, 233, 253, 1), rgba(94, 255, 102, 1));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seccionInicio{
    height: auto;
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-weight: 100;
    color: rgb(249, 255, 67);
    filter: drop-shadow(1px 2px 8px rgb(12, 21, 66));
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}

#botonIniciar{
    border: 0;
    WIDTH: 120PX;
    HEIGHT: 40px;
    margin: 40px 10px 10px;
    font-family: 'Press Start 2P';
    background-color: rgba(255, 255, 255, 0.163);
    color: rgb(0, 177, 187);
    /* box-shadow: 2px 2px 0px 4px rgba(244, 145, 59, 1); */
    box-shadow: 2px 2px 5px 3px rgba(17, 62, 64, 0.534); /* Sombra */ 
}
#botonIniciar:hover{
    background-color: rgb(255, 247, 0);
    box-shadow: 3px 3px 10px 5px rgba(251, 255, 255, 0.534); /* Sombra */
}

.cajon{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 10px;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 2px 25px rgba(17, 62, 64, 0.534); /* Sombra */ 
    /* background:linear-gradient(to right, rgba(244, 145, 59, 1), rgba(82, 233, 253, 1), rgba(94, 255, 102, 1));    */
}

.cajon h2{
    margin: 10px;
}

#pokemons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjetaPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.3);
    width: 120px;
    height: 120px;
    border-radius: 0px 0px 30px 0px;
}

.tarjetaPokemon:hover{
    box-shadow: 0 0 5px 3px white;
}

.tarjetaPokemon img{
    max-width: 102px;
    max-height: 75px;
}

input{
    display: none;
}

.animacionSeleccion{
    background-color: aqua;
}

#botonesAtaques button{
    border: 0;
    width: 120PX;
    HEIGHT: 40px;
    margin: 5px;
    font-family: 'Press Start 2P';
    font-size: 10px;
    /* color: rgb(0, 177, 187); */
    /* background-color: rgba(255, 255, 255, 0.496); */
}

#botonesAtaques button:hover{
    box-shadow: 0 0 50px 5px rgb(255, 255, 255); /* Sombra */ 
}

#boton-fuego{
    color: aliceblue;
    background-color: rgb(235, 152, 0);
    box-shadow: 0 0 50px 1px rgb(235, 152, 0);
}

#boton-agua{
    color: aliceblue;
    background-color: rgb(20, 176, 238);
    box-shadow: 0 0 50px 1px rgb(20, 176, 238); /* Sombra */ 
}

#boton-tierra{
    color: aliceblue;
    background-color: rgb(43, 215, 0);
    box-shadow: 0 0 50px 1px rgb(43, 215, 0); /* Sombra */ 
}



#boton-reiniciar{
    border: 0;
    WIDTH: 120PX;
    HEIGHT: 40px;
    margin: 10px;
    font-family: 'Press Start 2P';
    color: rgb(0, 177, 187);
    background-color: rgba(255, 255, 255, 0.496);
}