.areaParaArrastrar{
    height: 100%;
    margin: 5%;
    width: 90%;
    border: 4px dashed rgb(66, 148, 182);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.areaParaArrastrar.activo{
    background-color: rgb(66, 148, 182);	
    color: rgb(242, 242, 242);
    border: 4px dashed rgb(242, 242, 242);
}
.areaParaArrastrar h3{
    font-size: 2.5rem;
}
