.areaParaArrastrar{
    margin: 5%;
    height: 85%;
    width: 90%;
    border: 4px dashed #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.areaParaArrastrar.activo{
    background-color: rgba(0, 255, 217, 0.114);
    color: rgb(17, 105, 177);
    border: 4px dashed #618ac9;
}
.areaParaArrastrar button{
    padding: 5px 15px;
    font-size: 18px;
    border: 0;
    outline: none;
    background-color: #618ac9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}