html, body{
    height: 100%;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 148, 182);
    color: white;
    font-size: 1.5rem;
}
.contenedor{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: rgb(242, 242, 242);
}
.contenedor1{
    width: 25%;
}
.contenedor2{
    width: 75%;
    /* background-color: rgb(255, 255, 153); */
}
.subdivision{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    border: 1px solid rgb(66, 148, 182);
}

#text{
    margin: 1rem;
}
.tablas{
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
thead{
    display: flex;
    background-color:   rgb(66, 148, 182);
    color: rgb(242, 242, 242);;
    
}
tbody{
    display: flex;
    flex-direction: column;
}
tr{
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
    border: 1px solid #000000;
}
td{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 0.5rem; 
}
button{
    margin: 0;
    padding: 5px 15px;
    font-size: 2rem;
    border: 0;
    background-color: rgb(44, 182, 99);
    color: rgb(242, 242, 242);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

img{
    width: 95%;
}